
.form-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
  max-width: 700px;

    .example-full-width {
        width: 44%;
        padding: 5px;
    }

    .example-full-width-desc {
        padding: 5px;
        width: 90%;
    }
    
}
