<div class="header">
  <div class="logo-div">
    <img class="logo" [src]="logoPath" alt="Logo" />
  </div>

  <div class="tittle-div">
    <h1 class="titulo">RESERVA DE RECURSOS</h1>
  </div>

  <div class="user-div">
    <mat-form-field>
      <mat-label>Funcionário</mat-label>
      <mat-select [(value)]="selected" (selectionChange)="onUserChange($event.value)">
        <mat-option *ngFor="let emp of employees" [value]="emp">
          {{ emp.name }} - ({{ emp.enrollmentId }})
        </mat-option>
      </mat-select>
    </mat-form-field>

  
  </div>
</div>
