.header{
    
    display: flex;
    justify-content: center;

    .titulo{
        color: rgb(65, 65, 65);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: larger;
    }
}